<head itemscope="" itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <title>Website - Onepager</title>
    <script src="https://kit.fontawesome.com/b94e11ae89.js" crossorigin="anonymous"></script>
</head>