<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <hr class="mt-2 mb-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark"><i class="fas fa-home me-2"></i>Home</a></li>
                    <li><a href="#" class="text-dark"><i class="fas fa-info-circle me-2"></i>About</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Kontakt</h5>
                <hr class="mt-2 mb-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark"><i class="fas fa-phone me-2"></i>Telefon</a></li>
                    <li><a href="#" class="text-dark"><i class="fas fa-envelope me-2"></i>E-Mail</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-dark mb-4">
        <div class="text-center">
            <p class="mb-0">Copyright
                <a class="text-dark" href="#">Meine Webseite</a>
            </p>
            <p class="mb-0">Icons von <a class="text-dark" href="https://fontawesome.com/">Font Awesome</a></p>
        </div>
    </div>
</footer>
