<section id="slider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 1">
            <div class="carousel-caption">
                <h5><i class="fas fa-quote-left"></i> Ein guter Lehrer kann Schüler inspirieren und zum Lernen motivieren. <i class="fas fa-quote-right"></i></h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 2">
            <div class="carousel-caption">
                <h5><i class="fas fa-quote-left"></i> Ein Lehrer formt nicht nur Köpfe, sondern auch Herzen. <i class="fas fa-quote-right"></i></h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 3">
            <div class="carousel-caption">
                <h5><i class="fas fa-quote-left"></i> Die Kunst des Lehrens ist die Kunst des Entdeckens. <i class="fas fa-quote-right"></i></h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>
