<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navigation }}
{{> ../03-organisms/hero-slider }}
{{> ../03-organisms/benefits }}
{{> ../03-organisms/quiz }}
{{> ../03-organisms/profile-slider }}
{{> ../03-organisms/video }}
{{> ../03-organisms/uni-finder }}
{{> ../03-organisms/pro-con-list }}
{{> ../03-organisms/cta-button }}
{{> ../03-organisms/footer }}
</body>
</html>
